.goudy-bookletter 1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body a:link {
	color: #E854B4;
}
body a:visited {
	color: #E854B4;
}

body a:hover {
	color: #AB318B;
	background-color: white;
}

.anchor-nav {
	display: flex;
	position: sticky;
	top: 10px;
	justify-content: space-evenly;
	width: 80%;
	margin: auto;
	padding: 0.5rem;
	text-transform: uppercase;
	border-radius: 1rem;

}

nav {
	 
	font-family: "Indie Flower", cursive;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	justify-content: center;
	padding: 0.5rem;
	margin: 0.5rem;
	background: #F5F3D2;
	border-radius: 0.1rem;
	border: 1px;
	color: black;	
}

}
nav a:visited {
	color: black;
}

nav a:hover {
	color: #A2256C;
	background-color: white;
}

nav ul {
       display: flex;
            position: sticky;
            align-items: center;
            justify-content: space-between;
            top: 0px;
}

h1 {
	font-family: "Paytone One", sans-serif;
	font-size: 30px;
text-align: center;
text-decoration: none;
justify-content: center;
color: #E854B4;
}
body {
	font-family: "Goudy Bookletter 1911", serif;
font-size: 18px;
text-align: center;
text-decoration: none;
justify-content: center;
color: black;

}

footer {
font-family: "Indie Flower", cursive;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	justify-content: center;
	padding: 0.5rem;
	margin: 0.5rem;
	background: #F5F3D2;
	border-radius: 0.1rem;
	border: 1px;
	color: black;	
}

/*Photo Gallery css*/

.gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}





.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

button {
	background-color: #F5F3D2;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	max-width: 80%;

}

.gallery-image img {
	width: 100%;
}

.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

